{% extends 'base.html' %}

{% block title %}
    All books
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 text-center">
            <h3>{{author.first_name|upper}} {{author.last_name|upper}}</h3>
        </div>
        <div class="row mt-5">
            {% for book in books %}
                <div class="col-6">
                    <div class="container p-5">
                        <div class="row text-center">
                            <h5>{{ book.title }}</h5>
                        </div>
                        <div class="row text-center p-3">
                            <p>{{ book.description|slice:":200"}}</p>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6 text-center">
                                <h6> Book release year: {{ book.released_year }}</h6>
                            </div>
                            <div class="col-6 text-center">
                                <a href="{% url 'bookstore:book-detail' book.id %}" class="text-decoration-none"><h6 class="text-info"> More about this book </h6></a>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}