{% extends 'base.html' %}

{% block title %}
    {{author.first_name}} {{author.last_name}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 text-center">
            <h3>{{author.first_name|upper}} {{author.last_name|upper}}</h3>
        </div>
        <div class="row mt-5 text-center">
            <h6>
                {{author.first_name}} {{author.last_name}}, he is {{author.age}} year old now,
                and in his years he wrote many interesting books,
                <a href="{% url 'bookstore:books-by-author' author.id %}" class="text-decoration-none" class="text-info"> here are some of them.</a>
            </h6>
        </div>
    </div>
{% endblock %}
