{% extends 'base.html' %}

{% block title %}
    All authors
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            {% for author in authors %}
                <div class="col-4">
                    <div class="container p-5">
                        <div class="row text-center">
                            <div class="col-6 text-center">
                                <h5>{{author.first_name}} {{author.last_name}}</h5>
                            </div>
                            <div class="col-6 text-center">
                                <a href="{% url 'bookstore:author-detail' author.id %}" class="text-decoration-none"><h6 class="text-info"> More about {{author.first_name}} </h6></a>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}