{% extends 'base.html' %}

{% block title %}
    {{book.title}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 text-center">
            <h2>{{book.title}}</h2>
        </div>

        <div class="row m-3 text-center">
            <h5>This book was written in {{book.released_year}} by {{author.first_name}} {{author.last_name}} </h5>
        </div>
        <div class="row text-center">
            <a href="{% url 'bookstore:author-detail' author.id %}" class="text-decoration-none"><h6 class="text-info"> More about {{author.first_name}} {{author.last_name}} </h6></a>
        </div>

        <div class="row p-5 text-center">
            <p>{{book.description}}</p>
        </div>
    </div>
{% endblock %}